@model DogGO.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Walker.NeighborhoodId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Walker.NeighborhoodId)
        </dd>
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            <img class="bg-info" src="@Model.Walker.ImageUrl" alt="avatar" />
        </dd>
    </dl>
</div>
<div>
    <h4>Walks</h4>
    @foreach(Walk walk in Model.Walks)
            {
             <p>@walk.Duration</p>
            }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Walker.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
